
//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

@import "variable";

.button {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $font-weight-base;
  //line-height: $line-height-base;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  color: $color-font-default;
  background-color: $color-default;
  border: 1px solid #eeeeee;
  padding: 6px 12px;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      // Default
      outline: thin dotted;
      // WebKit
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $color-font-default;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    opacity: .65;
    box-shadow: none;
  }

  a& {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
}