.drop
  &-enter-active, &-leave-active
    transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity .45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transform: scaleY(1);
    transform-origin: left top 0;
  &-enter, &-leave-active
    transform-origin: left top 0;
    transform: scaleY(0);
    opacity: 0;

.fade
  &-enter-active, &-leave-active
    transition: opacity .3s;
  &-enter, &-leave-active
    opacity: 0;

.slide-down
  &-enter-active, &-leave-active
    transition: .3s;
  &-enter, &-leave-active
    opacity: 0;
    transform: translateY(-30px)

