//// font weight
//$font-weight-base: 100;
//
//// line height
//$line-height-base: 48px;
//
//// color
//$color-default: #ffffff;
//$color-font-default: #333333;

$z-index-drop-down = 100;
$z-index-modal = 1000

