// date time picker
.x-date-time-picker-container{
  position: absolute;
  box-sizing: border-box;
  width : 214px;
  /*height : 236px;*/
  padding-bottom: 10px;
  border: 1px solid #999999;
  background-color: #ffffff;
  z-index: 9999
}
.x-date-picker-modes {
  margin: 0;
  border-bottom: 1px solid #aaa;
  a {
    display: block;
    height: 43px;
    line-height:43px;
    color: #aaa;
    text-decoration: none;
  }
  .picker-tab:nth-child(2) {
    border-left: 1px solid #aaa;
  }
  a.active {
    color: #009ce5;
  }
}
.x-date-picker-tool{
  line-height: 28px;
  height : 28px;
  position : relative;
  border-bottom: 1px solid #aaaaaa;

  .last-month, .next-month, .last-year, .next-year{
    position : absolute;
    top : 0;
    line-height: 25px;
  }

  .last-month{
    left : 30px;
  }
  .next-month{
    right : 30px;
  }
  .last-year{
    left : 10px;
  }
  .next-year{
    right : 10px;
  }

  .control-panel{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #666666;
    font-weight :900;
  }

}

// date picker
.x-date-picker-table{
  margin : 10px 0;
  width : 100%;
  th{
    color: #333333;
    font-size: 12px;
  }
  td, th{
    text-align: center;
  }
}
.date-picker-cell{
  display: inline-block;
  width : 18px;
  box-sizing: border-box;
  line-height: 17px;
  height : 17px;
  text-decoration: none;
  border-radius: 2px;
  transition: all .3s;
  color: #000000;
  font-size: 12px;

  &:active, &:visited, &:focus{
    text-decoration: none;
  }

  &.not-this-month{
    color: #666666;
  }

  &.today{
    color: #009ce5;
    border: 1px solid #009ce5;
  }

  &.disabled{
    color: #aeaeae;
    &:hover{
      background-color: transparent;
      cursor : not-allowed;
    }
  }

  &.selected{
    background-color: #009ce5;
    color: #ffffff;

    &:hover{
      background-color: #009ce5;
      color: #ffffff;
    }
  }

  &:hover{
    background-color: #eee;
    text-decoration: none;
  }
}
.chose-today, .chose-now{
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  cursor: pointer;
  font-family: '宋体';
  color: #009ce5;
  border-top: 1px solid #aaaaaa;
}

// month picker
.x-month-picker{
  &>table{
    width : 100%;
    text-align: center;

    td{
      height: 52px;
    }

    .month-item{
      display: inline-block;
      border-radius: 2px;
      padding : 1px 8px;
      cursor: pointer;
      transition: all .3s;
      color: #000000;
      font-size: 12px;
      &:hover{
        background-color: #eee;
        text-decoration: none;
      }

      &.selected{
        background-color: #009ce5;
        color: #ffffff;
        &.this-month{
          color: #ffffff;
          border: 1px solid #009ce5;
        }
      }

      &.disabled{
        color: #aeaeae;
        &:hover{
          cursor: not-allowed;
          background-color: transparent;
        }
      }

      &.this-month{
        color: #009ce5;
        border: 1px solid #009ce5;
      }

    }
  }
}


// year picker
.x-year-picker{
  ul {
    margin : 0;
    padding : 0;
  }
  table{
    width : 100%;
    text-align: center;
  }
}
.year-item{
  display: inline-block;
  float : left;
  width : 68px;
  height : 52px;
  text-align: center;
}
.control-item{
  display: block;
  float : left;
  width : 68px;
  height: 52px;
  text-align: center;

  .year-picker-item{
    color : #999999;
    margin-top : 12px;
    &:hover{
      color : #009ce5;
      background-color: transparent;
    }
  }
}
.year-picker-item{
  display: inline-block;
  padding : 2px 8px;
  margin-top : 15px;
  font-size: 12px;
  color : #000000;
  border-radius: 2px;
  &.this-year{
    color: #009ce5;
    border: 1px solid #009ce5;
  }
  &.selected{
    text-decoration: none;
    color : #ffffff;
    background-color: #009ce5;
  }
  &:hover{
    text-decoration: none;
    color : #ffffff;
    background-color: #009ce5;
  }
  &.disabled{
    color: #aeaeae;
    &:hover{
      cursor: not-allowed;
      background-color: transparent;
    }
  }
}

.x-time-picker {
  //padding: 10px;
}

.done {
  width: 93%;
  padding: .1rem .75rem;
  margin: 0 auto;
  background-color: #009ce5;
  border-radius: 3px;
}