.modal {
  text-align: center;
}
.modal-dialog {
  margin-top: -100px
  display: inline-block;
  vertical-align: middle;
  // 恢复居左
  text-align: left;
}
.vertical-alignment-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}